[project]
	description = Custom XSL file to convert Google Fusion Tables KML format to CSV with geocoded coordinates
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/HTL WEBS (htlwebs)
[access "refs/for/refs/*"]
	read = group user/HTL WEBS (htlwebs)
	push = group user/HTL WEBS (htlwebs)
	label-Code-Review = -2..+2 group user/HTL WEBS (htlwebs)
	label-Verified = -1..+1 group user/HTL WEBS (htlwebs)
	rebase = group user/HTL WEBS (htlwebs)
	removeReviewer = group user/HTL WEBS (htlwebs)
	submit = group user/HTL WEBS (htlwebs)
[access "refs/heads/*"]
	read = group user/HTL WEBS (htlwebs)
	create = group user/HTL WEBS (htlwebs)
	push = +force group user/HTL WEBS (htlwebs)
	pushMerge = group user/HTL WEBS (htlwebs)
[access "refs/tags/*"]
	push = group user/HTL WEBS (htlwebs)
	push = +force group user/HTL WEBS (htlwebs)
